@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    min-height: 100svh;
}
